:root {
    --color-accent: rgb(130, 197, 159);
    /* --color-link: #af1f1f;
    --color-text: #942b14d3; */
    --color-background-page:rgb(253, 248, 235);
    /* --color-background-header: #ebd2ba;
    --font-family-header: "Jua", sans-serif;
    --font-family-text: 'Lexend', sans-serif; */
}

/* body.dark-mode {
    --color-accent: #fff3e5;
    --color-link: #ffa4a4;
    --color-text: #ebd2ba;
    --color-background-page: #72391dd9;
    --color-background-header: #4e2901;
} */