@import url('../../styles/tokens.css');

/* Header styles */
header {
    min-height: 8rem;
    background-color: var(--color-accent);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: var(--color-background-page);
}

.uploaded-image {
    border-radius: 8%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.dropdown-container{
    display: flex;
    flex-direction: column;
    color: var(--color-accent);
    font-size: 1.5rem;
}

.dropdown {
    width: calc(16vw + 2rem);
    height: 3rem;
    border: none;
    border-radius: 8%;
    padding: 0.25rem;
    margin-top: 0.25rem;
}

/* Clothing Category Square */
.category-square {
    color: var(--color-accent);
    font-size: 1.5rem;
    text-align: center;
}

.category-image {
    width: 100%;
    object-fit: contain;
    /* overflow: hidden; */
}

.category-image-container {
    overflow: hidden;
    width: calc(14vw + 1rem);
    height: 10rem;
    border-radius: 1rem;
    background-color: white;
}